@model IEnumerable<SearchFilter.Models.Player>
@{
    ViewData["Title"] = "Index";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Home" asp-action="Index" method="get">

    <div>
        Title: <input type="text" name="searchString" style="width:982px;" />
        <input type="submit" value="Filter" />
    </div><br/>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Country
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a asp-action="Edit" asp-rout-id="@item.PlayersId">Edit</a>
                    <a asp-action="Details" asp-rout-id="@item.PlayersId">Details</a>
                    <a asp-action="Delete" asp-rout-id="@item.PlayersId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>